@use "sass:color";

/* General colors. */
$color-text: #333;

/* SVG colors. */
$svg-path-fill: #eceff1;
$svg-path-fill-selected: #39ac73;
$svg-path-fill-hover-mix: #000;
$svg-path-fill-hover-mix-percent: 80%;
$svg-path-stroke: #a0a0a0;
$svg-circle-fill: #333;
$svg-circle-fill-hover: #990000;
$svg-text-fill: #333;
$svg-text-fill-hover: #990000;
$color-text: #333;

/* Place sizes. */
$size-place-radius-standard: 2;
$size-place-font-size-standard: 150%;

/* Place sizes (capital). */
$size-place-capital-radius-smallest: 2;
$size-place-capital-font-size-smallest: 175%;
$size-place-capital-radius-smaller: 3;
$size-place-capital-font-size-smaller: 205%;
$size-place-capital-radius-standard: 5;
$size-place-capital-font-size-standard: 250%;
$size-place-capital-radius-bigger: 6;
$size-place-capital-font-size-bigger: 325%;
$size-place-capital-radius-biggest: 8;
$size-place-capital-font-size-biggest: 425%;

/* Place sizes (state capital). */
$size-place-state-capital-radius-smallest: 2;
$size-place-state-capital-font-size-smallest: 150%;
$size-place-state-capital-radius-smaller: 3;
$size-place-state-capital-font-size-smaller: 180%;
$size-place-state-capital-radius-standard: 5;
$size-place-state-capital-font-size-standard: 225%;
$size-place-state-capital-radius-bigger: 6;
$size-place-state-capital-font-size-bigger: 300%;
$size-place-state-capital-radius-biggest: 8;
$size-place-state-capital-font-size-biggest: 400%;

/* Place sizes (city). */
$size-place-city-radius-smallest: 2;
$size-place-city-font-size-smallest: 140%;
$size-place-city-radius-smaller: 2;
$size-place-city-font-size-smaller: 150%;
$size-place-city-radius-standard: 3;
$size-place-city-font-size-standard: 180%;
$size-place-city-radius-bigger: 5;
$size-place-city-font-size-bigger: 225%;
$size-place-city-radius-biggest: 6;
$size-place-city-font-size-biggest: 300%;

.gs-world-map {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    width: 100%;
    margin: 0;
    border: 1px solid #a0a0a0;
    border-radius: 8px;
    position: relative;

    .world-map__hints {
        display: none;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 1000;
        opacity: 0;
        pointer-events: none;
        transition: opacity 0.5s ease;

        p {
            background-color: rgba(255, 255, 255, 0.5);
            padding: 1em;
            border-radius: 1em;
            color: $color-text;
        }
    }

    .world-map__hints--visible {
        opacity: 1;
        pointer-events: auto;
        display: flex;
    }

    .world-map__title {
        position: absolute;
        background-color: rgba(255, 255, 255, 0.5);
        border-top-left-radius: 8px;
        border-bottom-right-radius: 8px;
        padding: 8px 20px;
        border-right: 1px solid #a0a0a0;
        border-bottom: 1px solid #a0a0a0;
        font-weight: bold;

        .world-map__subtitle {
            margin-left: .8em;
            font-weight: normal;
            font-size: .8em;
            display: none;

            &.visible {
                display: inline;
            }
        }
    }

    .world-map__copyright {
        position: absolute;
        right: 0;
        bottom: 0;
        background-color: rgba(255, 255, 255, 0.5);
        border-top-left-radius: 8px;
        border-bottom-right-radius: 8px;
        padding: 8px 20px;
        border-left: 1px solid #a0a0a0;
        border-top: 1px solid #a0a0a0;
        font-style: italic;
        font-size: 0.8em;
    }

    .world-map__city-info {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        width: 50%;
        background-color: rgba(255, 255, 255, 0.9);
        border-top-right-radius: 8px;
        border-bottom-right-radius: 8px;
        border-left: 1px solid #a0a0a0;
        z-index: 1000;
        padding: 2em;
        box-sizing: border-box;

        .close {
            position: absolute;
            top: 10px;
            right: 10px;
            background: none;
            border: none;
            cursor: pointer;
            padding: 5px;

            svg {
                width: 24px;
                height: 24px;
                stroke: #333;
                transition: stroke 0.2s ease-in-out;
            }

            &:hover {
                svg {
                    stroke: red;
                }
            }
        }

        h2 {
            margin-top: 0;
        }

        p {
            margin-top: .75em;
            margin-bottom: 0;
        }
    }

    .world-map__logo {
        position: absolute;
        left: 0;
        bottom: 0;
        padding: 0 0 5px 5px !important;
    }

    .world-map__debug {
        position: absolute;
        top: 0;
        right: 0;
        background-color: rgba(255, 255, 255, 0.5);
        border-bottom-left-radius: 8px;
        border-top-right-radius: 8px;
        padding: 8px 20px;
        border-left: 1px solid #a0a0a0;
        border-bottom: 1px solid #a0a0a0;
        font-style: italic;
        font-size: 0.8em;
        text-align: right;

        .table-structured {
            width: 25em;
            .grid {
                .label {
                    //width: 50%;
                }
                .value {
                    //width: 50%;
                }
            }
        }
    }

    .zoom-btn {
        position: absolute;
        width: 31px;
        height: 31px;
        font-size: 14px;
        font-weight: bold;
        text-align: center;
        border: 1px solid #a0a0a0;
        border-radius: 2px;
        background-color: rgba(255, 255, 255, 0.5);
        color: $color-text;
        cursor: pointer;
        transition: background-color 0.2s ease;

        svg {
            width: 100%;
        }

        &:hover {
            background-color: #e0e0e0;
        }

        &.zoom-in {
            top: 48px; /* height title + 10 */
            left: 10px;
        }

        &.zoom-out {
            top: 89px;
            left: 10px;
        }

        svg {
            cursor: pointer;
        }
    }

    svg#svg-map {
        padding: 0;
        margin: 0;
        display: block;
        border-radius: 8px;
        width: 100%;
        pointer-events: all;
        cursor: default;
        background-color: #a7c9fc;

        &.move {
            cursor: move !important;
        }

        &.pointer {
            cursor: pointer;
        }

        &.zoom {
            cursor: none;
        }

        g, path, circle, text {
            pointer-events: none; /* Disable all pointer events -> No hover, etc. -> delegate this to SVGRenderer.tsx (hover, click, etc.) */
        }

        path.country {
            fill: $svg-path-fill;
            stroke: $svg-path-stroke;

            &.hover {
                fill: color.mix($svg-path-fill, $svg-path-fill-hover-mix, $svg-path-fill-hover-mix-percent);
            }

            &.selected {
                fill: $svg-path-fill-selected;

                &.hover {
                    fill: color.mix($svg-path-fill-selected, $svg-path-fill-hover-mix, $svg-path-fill-hover-mix-percent);
                }
            }
        }

        g.place-group {
            /* Place -> Standard size. */
            circle.place {
                r: $size-place-radius-standard;
                fill: $svg-circle-fill;
                stroke: transparent;
                stroke-width: 5;
            }
            text.title {
                font-size: $size-place-font-size-standard;
                alignment-baseline: middle;
                fill: $svg-text-fill;
            }

            /* Hover Place changes. */
            &.hover {
                circle.place {
                    fill: $svg-circle-fill-hover;
                }
                text.title {
                    fill: $svg-text-fill-hover;
                }
            }

            /* Capital changes. */
            &.place-group-capital {

                /* Capital -> Standard size. */
                circle.place {
                    r: $size-place-capital-radius-standard;
                }
                text.title {
                    font-size: $size-place-capital-font-size-standard;
                    font-weight: bold;
                }

                /* Capital -> Smallest size. */
                &.place-group-smallest {
                    circle.place {
                        r: $size-place-capital-radius-smallest;
                    }
                    text.title {
                        font-size: $size-place-capital-font-size-smallest;
                    }
                }

                /* Capital -> Smaller size. */
                &.place-group-smaller {
                    circle.place {
                        r: $size-place-capital-radius-smaller;
                    }
                    text.title {
                        font-size: $size-place-capital-font-size-smaller;
                    }
                }

                /* Capital -> Bigger size. */
                &.place-group-bigger {
                    circle.place {
                        r: $size-place-capital-radius-bigger;
                    }
                    text.title {
                        font-size: $size-place-capital-font-size-bigger;
                    }
                }

                /* Capital -> Biggest size. */
                &.place-group-biggest {
                    circle.place {
                        r: $size-place-capital-radius-biggest;
                    }
                    text.title {
                        font-size: $size-place-capital-font-size-biggest;
                    }
                }
            }

            /* State capital changes. */
            &.place-group-state-capital {

                /* State capital -> Standard size. */
                circle.place {
                    r: $size-place-state-capital-radius-standard;
                }
                text.title {
                    font-size: $size-place-state-capital-font-size-standard;
                }

                /* State capital -> Smallest size. */
                &.place-group-smallest {
                    circle.place {
                        r: $size-place-state-capital-radius-smallest;
                    }
                    text.title {
                        font-size: $size-place-state-capital-font-size-smallest;
                    }
                }

                /* State capital -> Smallest size. */
                &.place-group-smaller {
                    circle.place {
                        r: $size-place-state-capital-radius-smaller;
                    }
                    text.title {
                        font-size: $size-place-state-capital-font-size-smaller;
                    }
                }

                /* State capital -> Smallest size. */
                &.place-group-bigger {
                    circle.place {
                        r: $size-place-state-capital-radius-bigger;
                    }
                    text.title {
                        font-size: $size-place-state-capital-font-size-bigger;
                    }
                }

                /* State capital -> Smallest size. */
                &.place-group-biggest {
                    circle.place {
                        r: $size-place-state-capital-radius-biggest;
                    }
                    text.title {
                        font-size: $size-place-state-capital-font-size-biggest;
                    }
                }
            }

            /* City changes. */
            &.place-group-city {

                /* City -> Standard size. */
                circle.place {
                    r: $size-place-city-radius-standard;
                }
                text.title {
                    font-size: $size-place-city-font-size-standard;
                }

                /* City -> Smallest size. */
                &.place-group-smallest {
                    circle.place {
                        r: $size-place-city-radius-smallest;
                    }
                    text.title {
                        font-size: $size-place-city-font-size-smallest;
                    }
                }

                /* City -> Smallest size. */
                &.place-group-smaller {
                    circle.place {
                        r: $size-place-city-radius-smaller;
                    }
                    text.title {
                        font-size: $size-place-city-font-size-smaller;
                    }
                }

                /* City -> Smallest size. */
                &.place-group-bigger {
                    circle.place {
                        r: $size-place-city-radius-bigger;
                    }
                    text.title {
                        font-size: $size-place-city-font-size-bigger;
                    }
                }

                /* City -> Smallest size. */
                &.place-group-biggest {
                    circle.place {
                        r: $size-place-city-radius-biggest;
                    }
                    text.title {
                        font-size: $size-place-city-font-size-biggest;
                    }
                }
            }

            /* Not used anymore. */
            circle.place.hover {
                r: 8;
                fill: $svg-circle-fill-hover;
                stroke-width: 0;
            }
        }
    }
}