@use "sass:color";

/* General colors. */
$color-text: #333;

/* SVG colors. */
$svg-path-fill: #d0d0d0;
$svg-path-fill-selected: #c0e0c0;
$svg-path-fill-hover: #b0d0b0;
$svg-path-stroke: #a0a0a0;
$svg-circle-fill: #909090;
$svg-circle-fill-hover: #606060;
$svg-text-fill: #909090;
$svg-text-fill-hover: #606060;
$color-text: #333;

.gs-world-map {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    width: 100%;
    margin: 0;
    border: 1px solid #a0a0a0;
    border-radius: 8px;
    background-color: #9bd2e5;
    position: relative;

    .world-map__hints {
        display: none;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 1000;
        opacity: 0;
        pointer-events: none;
        transition: opacity 0.5s ease;

        p {
            background-color: rgba(255, 255, 255, 0.5);
            padding: 1em;
            border-radius: 1em;
            color: $color-text;
        }
    }

    .world-map__hints--visible {
        opacity: 1;
        pointer-events: auto;
        display: flex;
    }

    .world-map__title {
        position: absolute;
        background-color: rgba(255, 255, 255, 0.5);
        border-top-left-radius: 8px;
        border-bottom-right-radius: 8px;
        padding: 8px 20px;
        border-right: 1px solid #a0a0a0;
        border-bottom: 1px solid #a0a0a0;
        font-weight: bold;

        .world-map__subtitle {
            margin-left: .8em;
            font-weight: normal;
            font-size: .8em;
            display: none;

            &.visible {
                display: inline;
            }
        }
    }

    .world-map__copyright {
        position: absolute;
        right: 0;
        bottom: 0;
        background-color: rgba(255, 255, 255, 0.5);
        border-top-left-radius: 8px;
        border-bottom-right-radius: 8px;
        padding: 8px 20px;
        border-left: 1px solid #a0a0a0;
        border-top: 1px solid #a0a0a0;
        font-style: italic;
        font-size: 0.8em;
    }

    .world-map__logo {
        position: absolute;
        left: 0;
        bottom: 0;
        padding: 0 0 5px 5px !important;
    }

    .world-map__debug {
        position: absolute;
        top: 0;
        right: 0;
        background-color: rgba(255, 255, 255, 0.5);
        border-bottom-left-radius: 8px;
        border-top-right-radius: 8px;
        padding: 8px 20px;
        border-left: 1px solid #a0a0a0;
        border-bottom: 1px solid #a0a0a0;
        font-style: italic;
        font-size: 0.8em;
        text-align: right;

        .table-structured {
            width: 25em;
            .grid {
                .label {
                    //width: 50%;
                }
                .value {
                    //width: 50%;
                }
            }
        }
    }

    .zoom-btn {
        position: absolute;
        width: 31px;
        height: 31px;
        font-size: 14px;
        font-weight: bold;
        text-align: center;
        border: 1px solid #a0a0a0;
        border-radius: 2px;
        background-color: rgba(255, 255, 255, 0.5);
        color: $color-text;
        cursor: pointer;
        transition: background-color 0.2s ease;

        &:hover {
            background-color: #e0e0e0;
        }

        &.zoom-in {
            top: 48px; /* height title + 10 */
            left: 10px;
        }

        &.zoom-out {
            top: 89px;
            left: 10px;
        }

        svg {
            cursor: pointer;
        }
    }

    svg {
        padding: 0;
        margin: 0;
        display: block;
        border-radius: 8px;
        width: 100%;
        pointer-events: all;
        cursor: default;

        g, path, circle, text {
            pointer-events: none; /* Disable all pointer events -> No hover, etc. -> delegate this to SVGRenderer.tsx (hover, click, etc.) */
        }

        path.country {
            fill: $svg-path-fill;
            stroke: $svg-path-stroke;

            &.selected {
                fill: $svg-path-fill-selected;
                stroke: $svg-path-stroke;
            }

            &.hover {
                fill: $svg-path-fill-hover;
                stroke: $svg-path-stroke;
            }
        }

        g.place-group {

            circle.place {
                r: 2;

                fill: $svg-circle-fill;
                stroke: transparent;
                stroke-width: 5;
            }

            text.title {
                font-size: 150%;

                alignment-baseline: middle;
                fill: $svg-text-fill;
            }

            &.hover {
                circle.place {
                    fill: $svg-circle-fill-hover;
                }

                text.title {
                    fill: $svg-text-fill-hover;
                }
            }

            &.place-group-capital {
                circle.place {
                    r: 5;
                }

                text.title {
                    font-size: 225%;
                    font-weight: bold;
                }

                &.place-group-smaller {
                    circle.place {
                        r: 3;
                    }

                    text.title {
                        font-size: 180%;
                    }
                }
            }

            &.place-group-state-capital {
                circle.place {
                    r: 3;
                }

                text.title {
                    font-size: 180%;
                }
            }

            &.place-group-city {
                circle.place {
                    r: 2;
                }

                text.title {
                    font-size: 110%;
                }
            }

            /* Not used anymore. */
            circle.place.hover {
                r: 8;
                fill: $svg-circle-fill-hover;
                stroke-width: 0;
            }
        }
    }
}